.logo {
    background-image: url("IMG_0602.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 370px;
    margin-top: 50px;
}

.navbar {
    margin-bottom: 0;
    background-color: midnightblue;
    color: gold;
}

.navbar-header img {
   height: 20px;
}

.logo img {
    height: 15%;
    width: 20%;
    position: absolute;
    left: 230px;
}

.center {
    text-align: center;
}

.mainSearch {
    position: absolute;
    left: 41%;
    top: 210px;
    height: 40px;
    width: 250px;
    text-align: center;
    color: midnightblue;
}

#app {
    background-color: gainsboro;
    color: midnightblue;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: midnightblue;
}

h1 {
    color: midnightblue;
}

p {
    font-size: 16px;
}

section {
    margin-bottom: 80px;
    padding: 50px;
    border: 1px solid midnightblue;
}


