.logo {
    background-image: url("IMG_0602.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 370px;
    margin-top: 50px;
}

.navbar {
    margin-bottom: 0;
    background-color: midnightblue;
    color: gold;
}

.navbar-header img {
   height: 30px;
}

.logo img {
    height: 15%;
    width: 20%;
    position: absolute;
    left: 230px;
}

.center {
    text-align: center;
}

.citySearch {
    position: absolute;
    left: 40%;
    top: 210px;
    text-align: center;
    color: midnightblue;
}

.citySearch input {
    height: 40px;
    width: 250px;
}

#app {
    background-color:rgba(255, 255, 255, .90);;
    color: midnightblue;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: midnightblue;
}

p {
    font-size: 16px;
}

.mySearchedItem {
    width: 45%;
    margin-left: 35px;
}

.myRentalItem {
    width: 45%;
    margin-left: 35px;
}

.myOwnedItem {
    width: 45%;
    margin-left: 35px;
}

.equipmentImage {
    height: 100px;
    width: 100px;
}

.address {
    list-style-type: none;
    text-align: left;
    font-weight: 700;
}

section {
    margin-bottom: 80px;
    padding: 50px;
    border: 1px solid midnightblue;
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 3%;
}

input.password {
    color: green;
    border-color: green;
}




